---
const pageTitle = 'Home Page';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
		</nav>

		<main>
			<h1>{pageTitle}</h1>
			<h2>Next thing to do:</h2>
			<a href="https://docs.astro.build/en/tutorial/1-setup/5/">Serve on Netlify</a>
		</main>
	</body>
</html>
