---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro site</title>
	</head>
	<body>
		<h1>My Astro site</h1>
		<h2>Next thing to do:</h2>
		<a href="https://docs.astro.build/en/tutorial/1-setup/5/">Serve on Netlify</a>
	</body>
</html>
